<div class="content-login">
    <div class="center-login">
        <div class="login">
            <form>
                <!-- <div class="personal">
                    <i class="fas fa-user-circle"></i>
                </div>
                <div class="form-group">
                    <input pInputText type="text" />
                </div>
                <div class="form-group">
                    <input pInputText type="password" />
                </div> -->

                <div class="personal">
                    <i class="pi pi-users"></i>
                </div>

                <div class="p-text-center">
                    <div><input pInputText type="text" /></div>
                    <br>
                    <div><input pInputText type="password" /></div>
                    <br>
                    <button pButton pRipple type="submit" label="Submit"
                        class="p-button-rounded p-button-secondary"></button> &nbsp;
                    <!-- <button pButton pRipple type="button" label="Reset"
                        class="p-button-rounded p-button-secondary p-button-outlined"></button> -->
                </div>
            </form>
        </div>
    </div>
</div>